NEXT_PUBLIC_GOOGLE_ADS_ID=AW-XXXXXXXXXX
NEXT_PUBLIC_GADS_LEAD_LABEL=REPLACE_WITH_LEAD_LABEL
NEXT_PUBLIC_GADS_PHONE_LABEL=REPLACE_WITH_PHONE_LABEL
NEXT_PUBLIC_META_PIXEL_ID=3430663590429933
VITE_GOOGLE_MAPS_API_KEY=REPLACE_WITH_GOOGLE_MAPS_KEY
GMAIL_USER=yourgmail@gmail.com
GMAIL_APP_PASSWORD=your_16_char_app_password
LEAD_NOTIFY_TO=where_you_want_leads@gmail.com
LEAD_NOTIFY_FROM=yourgmail@gmail.com
GHL_WEBHOOK_URL=https://services.leadconnectorhq.com/hooks/...
